<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Students !!!</h1>
    <div class="container">
     <a href="/marks"> <button id="marks_btnid" >Enter Marks</button> </a>

     <a href="/leaderboard"> <button id="leaderboard_btnid" >View Leaderboard</button> </a>   
    </div>
    <script src="learning_JS.js"></script>
</body>
</html>