main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background: red;
}

table {
    margin: 500px auto;
    background-color: blue;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}